# Statewide Data Clean-up

My first step in running the correlations is to read in the data sets and clean them up for the purposes of my analysis. Each data set has a column for year and geography. Data is from 2019 for many towns, but not all. 
The data sets are as follows, broken out by town:
- Current number of Airbnb Listings, as calculated with no zoom, one zoom, and two zooms on the Airbnb map, plus a column capturing the mean amongst those figures
- Population levels
- Distribution of age of residents
- Median Household Income Values
- Median Property Values

The goal is to determine the relationship between the density of Airbnbs and age distribution, median household income, and median property values. If I were to run a correlation between, simply, the number of Airbnb listings and any of those values, it's likely that larger towns, by virtue of their size, would correlate with higher incomes and property values. Therefore (in python) I divided the number of listings by the population of the town to render a "Listings per Person" measure for correlation analysis.

In [1]:
import pandas as pd

### Generate Listings Per Person

Here, I will use the most recently available population data for each town to generate a new field called "listings per person."

In [2]:
# read in the listings data and population data
# all listings data is for 2022; population data goes back to 2013

listings = pd.read_csv('listings_by_town.csv')
pop = pd.read_csv('population_data.csv')

In [3]:
# clean up the population data so only the most recently available year is kept
pop.head()

           IDtown  year  population                           town
0  16000US3008725  2019          61                       Boyd, MT
1  16000US3048250  2019         157                   Maxville, MT
2  16000US3022600  2019         388  East Glacier Park Village, MT
3  16000US3020800  2019         216                      Dixon, MT
4  16000US3082130  2019         300                       Yaak, MT

In [4]:
# 2019 data
pop_2019 = pop[pop.year == 2019]

In [5]:
listings_pop = pd.merge(listings, pop_2019, on = 'town')

In [6]:
listings_pop.head()

,town,Listings - No Zoom,Listings - One Zoom,Listings - Two Zoom,3-way Mean Listings,Zoom - Mean Listings,IDtown,year,population
0,"Martinsdale, MT",0,0,0,0,0,16000US3048175,2019,27
1,"Box Elder, MT",23,4,0,9,2,16000US3008725,2019,47
2,"Dutton, MT",67,2,0,23,1,16000US3022600,2019,270
3,"Dillon, MT",71,35,4,37,20,16000US3020800,2019,4261
4,"Absarokee, MT",187,187,35,136,111,16000US3000175,2019,1061

In [28]:
len(listings_pop)

277

In [30]:
# do similar process for median income and median property values data
income = pd.read_csv('median_income.csv')
propvalue = pd.read_csv('median_propvalue.csv')

In [29]:
income_2019 = income[income.year == 2019]

# note that income is not available in 2019 for all towns
len(income_2019)

243

In [33]:
propvalue_2019 = propvalue[propvalue.year == 2019]

# nor are property values available for 2019 for all towns
len(propvalue_2019)

240

In [35]:
# merge the datasets, recognizing that we'll lose some values
merge_income = pd.merge(listings_pop, income_2019, on = "town")
len(merge_income)

243

In [37]:
df = pd.merge(merge_income, propvalue_2019, on = 'town')
len(df)

223

In [38]:
df.to_csv('merged_data.csv')